html {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5vw;
	width: 100%;
	
}


body, footer {
	width:100%;
	margin: auto;
	font-size: 100%;
	text-align: justify;
	background-color:#0c79af;
	height: 100%;
	border: 1px solid white;
}

h1, h2, h3, h4 {
	color:white;
	background-color: #1C2FBB;
	width: 100%;
	padding:10px;
	text-align:left;
	border-radius: 3px;
}
nav {
	text-align:center; 
	width:100%; 
	padding:0;
	margin:0;
	overflow: hidden;
 }
nav li {
	display:inline-block;
	margin:0;

}
nav li{
	width:25%;
	height:3%;
	margin:0;}
nav > ul a {
	display:inline-block;
	background-color:#0c79af;
	color:white;
	padding:5%;
	text-decoration:none;
	width:100%;
	height:100%;
	font-size:1.5vm;
}

nav > ul a:hover {
	background-color:black;

}

header, footer, form, header a {
	color:black;
	width: 100%;
	text-align: center;
	margin:auto;
	padding:10px;
}

footer {

		padding:1%;
		font-size: 80%;
		overflow: hidden;
		color:white;

}

footer li {list-style-type: none;}

form {
	width:100%;
	margin:auto;
	text-align:center;
	font-style: 

}
input {
	border-radius: 0;
	border-style:solid;
}
input[type=submit] {
	font-size:110%;
	color:white;
	background-color:#1C2FBB;
	border:none;
	padding:3px;
}

#thumbnail {
	display:inline-block;
	max-width: 10%;
	margin-left:45%;
	margin-right:45%;
	margin-top:1%;

}

main {
	width: 80%;
	text-align: justify;
	margin: auto;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10%;
	padding-bottom:10%;
}

.error {
	color:red;
	background-color: lightgrey;
	padding:20px;
}

.plagehoraire {
	border:2px #0c79af solid;
	width:60%;
	padding:1%;
	margin:auto;
	text-align: justify;
}

.plagehoraire input {
	right:0;
}

table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	
}


table, td, th {
	border: 1px solid black;
}


td,th {width: 30%;}